<?xml version="1.0" encoding="UTF-8"?>
<config>
  <modules>
    <Cachacashop_CamposEndereco>
      <version>0.0.1</version>
    </Cachacashop_CamposEndereco>
  </modules>
  <admin>
        <fieldsets>
            <customer_dataflow>
                <end_numero><billing>1</billing><shipping>1</shipping></end_numero>
				<bairro><billing>1</billing><shipping>1</shipping></bairro>
				<complemento><billing>1</billing><shipping>1</shipping></complemento>
            </customer_dataflow>
        </fieldsets>
    </admin>
  <frontend>
    <routers>
      <camposendereco>
        <use>standard</use>
          <args>
            <module>Cachacashop_CamposEndereco</module>
            <frontName>camposendereco</frontName>
          </args>
      </camposendereco>
    </routers>
		<layout>
		  <updates>
			<camposendereco>
			  <file>camposendereco.xml</file>
			</camposendereco>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <camposendereco>
        <class>Cachacashop_CamposEndereco_Helper</class>
      </camposendereco>
    </helpers>
	<blocks>
	  <camposendereco>
		<class>Cachacashop_CamposEndereco_Block</class>
	  </camposendereco>
	</blocks>
	<models>
	  <camposendereco>
		<class>Cachacashop_CamposEndereco_Model</class>
		<resourceModel>camposendereco_mysql4</resourceModel>
	  </camposendereco>
	</models>
	<resources>
	  <salesattribute1400525132_setup>
		<setup>
		  <module>Cachacashop_CamposEndereco</module>
		  <class>Mage_Sales_Model_Mysql4_Setup</class>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </salesattribute1400525132_setup>
	  <salesattribute1400525132_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </salesattribute1400525132_write>
	  <salesattribute1400525132_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </salesattribute1400525132_read>
	  <customerattribute1400525132_setup>
		<setup>
		  <module>Cachacashop_CamposEndereco</module>
		  <class>Mage_Customer_Model_Entity_Setup</class>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </customerattribute1400525132_setup>
	  <customerattribute1400525132_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </customerattribute1400525132_write>
	  <customerattribute1400525132_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </customerattribute1400525132_read>
	</resources>
	<fieldsets>
            <sales_copy_order_billing_address>
                <end_numero><to_order>*</to_order></end_numero>
				<bairro><to_order>*</to_order></bairro>
				<complemento><to_order>*</to_order></complemento>
            </sales_copy_order_billing_address>
            <sales_copy_order_shipping_address>
                <end_numero><to_order>*</to_order></end_numero>
				<bairro><to_order>*</to_order></bairro>
				<complemento><to_order>*</to_order></complemento>
            </sales_copy_order_shipping_address>
            <sales_convert_quote_address>
                <end_numero><to_order_address>*</to_order_address><to_customer_address>*</to_customer_address></end_numero>
				<bairro><to_order_address>*</to_order_address><to_customer_address>*</to_customer_address></bairro>
				<complemento><to_order_address>*</to_order_address><to_customer_address>*</to_customer_address></complemento>
            </sales_convert_quote_address>
            <sales_convert_order_address>
                <end_numero><to_quote_address>*</to_quote_address></end_numero>
				<bairro><to_quote_address>*</to_quote_address></bairro>
				<complemento><to_quote_address>*</to_quote_address></complemento>
            </sales_convert_order_address>
            <customer_address>
                 <end_numero><to_quote_address>*</to_quote_address></end_numero>
				<bairro><to_quote_address>*</to_quote_address></bairro>
				<complemento><to_quote_address>*</to_quote_address></complemento>
            </customer_address>
            <checkout_onepage_billing>
                <end_numero><to_customer>*</to_customer></end_numero>
				<bairro><to_customer>*</to_customer></bairro>
				<complemento><to_customer>*</to_customer></complemento>
            </checkout_onepage_billing>
        </fieldsets>
  </global>
</config> 